:root {
  --green: #c4e290;
  --grey: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather", serif;
  overflow-x: hidden;
  background-image: url("../assets/img/background.png");
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.hero {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
  background-size: cover;
  background-position: 35% 0;
  color: white;
  margin-bottom: 3em;
  background-image: url("../assets/img/prewed4.jpg");
}

.hero .title {
  text-align: center;
  margin-bottom: 5em;
}

.hero .title p {
  font-size: 1.5em;
}

.hero .date .invited-name {
  font-size: 0.7em;
  margin-top: 1em;
}

.hero .title h1 {
  font-family: "Sacramento", serif;
  font-size: 3em;
}

.hero .date {
  text-align: center;
  margin-bottom: 10em;
}

.hero .date .date-num {
  font-size: 2.5em;
}

.hero .cta-button {
  color: white;
  background-color: var(--green);
  padding: 0.5em 2em;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

main {
  margin: 0 1.5em;
}

.countdown-wrapper {
  background-color: var(--green);
  padding: 3em 0;
  border-radius: 5px;
  margin-bottom: 9em;
}

.countdown-wrapper h2 {
  font-family: "Sacramento", serif;
  text-align: center;
}

.bride-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 9em;
}

.bride {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bride img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid var(--green);
}

.bride-info h3 {
  font-family: "sacramento", serif;
  text-align: center;
  font-size: 1.5em;
}

.bride-info p {
  font-size: 0.7em;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

.header h2 {
  text-align: center;
  font-family: "sacramento", serif;
}

.header .line {
  background-color: var(--green);
  height: 2px;
  width: 100%;
}

.story {
  margin-bottom: 9em;
}

.story-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.story-wrapper img {
  height: 300px;
}

.story-wrapper .info-wrapper:last-of-type {
  align-self: flex-end;
}

.story-wrapper .info-wrapper {
  border-radius: 5px;
}

.story-wrapper .info-wrapper h3 {
  background: var(--green);
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 0.25em 1em;
}

.story-wrapper .info-wrapper p {
  border-radius: 0 0 5px 5px;
  border: 1px solid var(--grey);
  text-align: center;
  padding: 0.25em 1em;
}

.event {
  margin-bottom: 9em;
}

.event-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.event-wrapper .event-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-wrapper .event-info h3 {
  font-family: "Sacramento", serif;
  font-size: 2em;
}

.event-wrapper .event-info p {
  text-align: center;
  font-size: 12px;
}

.v-line {
  width: 1px;
  height: 85px;
  background: var(--green);
}

.location {
  margin-bottom: 9em;
}

.location-wrapper .map {
  padding: 5px;
  background: var(--green);
  border-radius: 5px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.location-wrapper .map .iframe {
  width: 100%;
  height: 144px;
}

.location-wrapper .location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.location-wrapper .location-info p {
  text-align: center;
}

.button {
  text-align: center;
  color: white;
  background: var(--green);
  border-radius: 5px;
  padding: 0.25em 2em;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.rsvp {
  margin-bottom: 9em;
}

.rsvp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.rsvp-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.rsvp-input div {
  display: flex;
  flex-direction: column;
}

.input {
  border: 2px solid var(--green);
  border-radius: 5px;
  font-size: 1.25em;
  padding: 0.25em;
  min-width: 100%;
  background: white;
}

.comment {
  margin-bottom: 9em;
}

.gallery {
  margin-bottom: 9em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.gallery img {
  width: 100px;
  border-radius: 5px;
}

.comment form {
  margin-bottom: 3em;
}

.comment-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.comment-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.comment-box h3 {
  font-family: "sacramento", serif;
  padding: 0.25em 1em 0 1em;
  background: var(--green);
  border-radius: 5px 5px 0 0;
  background-image: url("../assets/img/background.png");
}

.comment-box p {
  font-weight: 100;
  padding: 1em 1em;
  background: white;
  border: 1px solid var(--green);
  border-radius: 0 0 5px 5px;
  font-size: 0.7em;
}

.gift {
  margin-bottom: 9em;
}

.gift-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.gift-wrapper .bank {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-wrapper .bank img {
  width: 50%;
}

.gift-wrapper .bank p {
  text-align: center;
}

.wish {
  text-align: center;
  margin-bottom: 9em;
}

.wish span {
  font-family: "sacramento", serif;
  font-size: 2rem;
}

footer {
  background: var(--green);
  padding: 2em;
}

footer p {
  text-align: center;
}

@media (min-width: 768px) {
  html {
    font-size: 150%;
  }

  .hero {
    justify-content: center;
    padding: 0;
    background-position: center;
    gap: 5em;
  }

  .hero .title {
    margin: 0;
  }

  /* .hero .date .invited-name {
    font-size: 1em;
  } */

  .hero .date {
    margin: 0;
  }

  .bride {
    gap: 1em;
  }

  .bride-info {
    max-width: 400px;
  }

  .bride-wrapper {
    gap: 3em;
  }

  .location-wrapper .map .iframe {
    height: 400px;
  }

  .gift-wrapper .bank img {
    width: 30%;
  }

  main {
    width: 60%;
    margin: 0 auto;
  }

  .input {
    width: 200px;
    font-size: 1rem;
  }

  .event-wrapper .event-info p {
    font-size: 1rem;
  }

  .event-wrapper {
    gap: 3em;
  }

  .story-wrapper {
    gap: 2em;
  }

  .story-wrapper img {
    height: 500px;
  }

  .gallery img {
    width: 300px;
  }
}
